* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #2a3d59;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}

/* CREATE NEW USER START */
.new-user {
  background: #425e88;
  padding: 40px 40px;
  max-width: 400px;
  margin: 80px auto;
  border-radius: 3px;
  box-shadow: 3px 3px 0 rgb(0, 0, 0, 0.1);
}

.text-header h1 {
  color: white;
  font-weight: 100;
  font-size: 75px;
  text-align: center;
  padding-top: 30px;
}

h2 {
  color: white;
  font-weight: 100;
  font-size: 30px;
  text-align: center;
  margin-top: 20px;
}

h3 {
  color: white;
  font-weight: 500;
  align-items: center;
  font-size: 25px;
}

label,
input {
  display: block;
  margin: 18px 0;
}

label {
  color: white;
}

input[type="text"],
input[type="email"] {
  border: solid 1px #ddd;
  padding: 10px;
  border-radius: 10px;
  width: 100%;
  outline: none;
  outline: none;
}

.new-user .createUser input[type="submit"] {
  margin: 24px;
  font-size: 18px;
  background: #2a3d59;
  color: #ffffff;
  padding: 6px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
}

p {
  color: white;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}
/* CREATE NEW USER ENDS */

/* TODO-LIST START */
.newUser {
  text-align: center;
  margin-top: 20px;
}

a {
  color: #8eaedf;
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-weight: 400;
}

a:hover {
  color: #ffffff;
}

.form {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

#add-task {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
  background: #2a3d59;
  padding: 10px 20px;
  border-radius: 0px;
  border-top-style: hidden;
  border-right-style: hidden;
  border-left-style: hidden;
  outline: none;
  max-width: 500px;
  margin: 100px 0;
  border-bottom: solid white;
  border-width: thin;
}

.form-container .form input[type="submit"] {
  background: #2a3d59;
  color: white;
  outline: none;
  transition: 0.3s;
  border: none;
  font-size: 35px;
}

.addBtn:hover {
  color: #8eaedf;
  cursor: pointer;
}

.checkedBtn {
  width: 25%;
  padding: 10px;
  margin-left: 0;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  width: 100%;
}

.todos {
  margin-bottom: 50px;
}

li {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: left;
  padding: 0px 20px;
  font-size: 25px;
}

li button {
  border: none;
  background-color: #2a3d59;
  cursor: pointer;
  outline: none;
}

.circleBtn {
  padding-right: 10px;
  margin-right: 100px;
  margin-top: 20px;
  content: "";
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  border-radius: 50%;
  vertical-align: middle;
}

li button .fa-check {
  font-size: 23px;
  color: #74a6f1;
  transition: 0.3s ease-in-out;
}

input[type="checkbox"]:checked + button .fa-check {
  opacity: 1;
}

li label {
  transition: 0.3s ease-in-out;
}

li label:hover {
  color: #8eaedf;
  cursor: pointer;
  transform: translateX(-1em);
}

.checked {
  color: #8eaedf;
  text-decoration: line-through;
}

.trashBtn {
  margin-left: 80px;
  margin-bottom: 9px;
  padding: 12px 16px;
  cursor: pointer;
}

.far {
  background-color: #2a3d59;
  color: white;
  cursor: pointer;
  font-size: 20px;
  right: 0;
  top: 0;
  padding: 12px 16px 12px 16px;
  vertical-align: top;
  margin-left: 30px;
}

.far:hover {
  color: #8eaedf;
}
/* TODO-LIST ENDS */

/* FOOTER START */
h4 {
  color: white;
  font-weight: 100;
  font-size: 20px;
  text-align: center;
  padding-top: 25px;
}

h5 {
  color: white;
  font-weight: 100;
  font-size: 15px;
  text-align: center;
  padding-top: 10px;
}

.footer {
  border-top: solid white;
  border-width: thin;
}
/* FOOTER ENDS */

/* MEDIA QUERIES */
@media only screen and (max-width: 768px) {
  #add-task {
    font-size: 20px;
    padding: 10px 20px;
    outline: none;
    max-width: 300px;
    margin: 100px 0;
  }
  form #done {
    font-size: 10px;
  }
  li #labelText {
    font-size: 20px;
  }
  li #done {
    width: 15px;
    height: 15px;
    margin-right: 50px;
  }
  li form .trashBtn {
    margin-left: 20px;
  }
}
